@media screen and (orientation: portrait) {   
    #company-logo {
        height: 0px;
        width: 0px;
    }
}
@media screen and (orientation: landscape) {
       #company-logo {
                height: 46px;
                width: 100%;
        }
}
